// Estilos de Navbar
.navbar {
  background-color: $color-background;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-text;
}

.navbar-logo {
  width: 20%;
  margin-right: 10px;
  text-align: center;
}

.navbar-logo img {
  width: 100%;
}

.navbar-nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav ul li {
  margin-right: 10px;
  padding: 0 15px;
}

.navbar-nav ul li a {
  color: $color-text;
  text-decoration: none;
}

.navbar-nav ul li a:hover {
  background-color: $color-text;
  color: $color-background;
  border-radius: 8px;
  padding: 3px 10px;
}

// Estilos del dropdown
.dropdown {
  position: relative;
}

.arrow {
  border: solid $color-text;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $color-light;
  border-radius: 8px;
  padding: 10px;
  min-width: 300px;
  text-align: center;
  li a {
    color: $color-black !important;
    &:hover {
      color: $primary-color !important;
      border-radius: 0 !important;
      padding: 0 !important;
      background-color: transparent !important;
    }
    .arrow {
      color: $color-black !important;
    }
  }
}

.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block !important;
}

.dropdown-submenu {
  display: none !important;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: $color-light;
  border-radius: 8px;
  padding: 10px;
  min-width: 300px;
  text-align: center;
  min-height: 70px;
  li a {
    color: $color-black !important;
    &:hover {
      color: $primary-color !important;
      border-radius: 0 !important;
      padding: 0 !important;
      background-color: transparent !important;
    }
  }
}

.submenu:hover .dropdown-submenu,
.submenu:focus .dropdown-submenu {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.dropdown:hover .down,
.dropdown:focus  .down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.user-span-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 300px;
  color: $color-text;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &:hover {
    padding: 5px;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    background-color: $color-text;
    color: $color-background;
  }
    .span-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $color-background;
      border-radius: 0 0 2px;
      width: 250px;
      text-align: right;
      .text-muted {
        color: $color-text;
        padding: 15px 10px;

      }
      ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
          width: 100%;
          padding: 10px 0;
          border-bottom: 1px solid $color-text;
        }
        li a {
          width: 100%;
          color: $color-text;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            background-color: $color-text;
            color: $color-background;
            border-radius: 8px;
            padding: 5px 10px;
          }
        }
      }
    }
}

