.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #212529;
  margin: auto;
  .table-body {
    width: 100%;
    vertical-align: middle;
    border-color: inherit;
    table {
      margin: auto;
    }
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        th {
          display: table-cell;
          vertical-align: inherit;
          padding: 0.75rem;
          border-top: 1px solid #dee2e6;
          text-align: left;
          color: #fff;
          background-color: $color-gray;
          ;
          border-color: $color-gray;
          &:first-child {
            border-top-left-radius: 0.25rem;
          }
          &:last-child {
            border-top-right-radius: 0.25rem;
          }
        }
      }
    }
  }
}