// Variables
$primary-color: #cc2229;
$primary-color-hover: #a41c21;
$secondary-color: #f2f2f2;
$secondary-color-hover: #e6e6e6;

$color-background: $primary-color;
$color-text: #fff;
$color-link-hover: #000;