// Variables
$primary-color: #cc2229;
$primary-color-hover: #a41c21;
$secondary-color: #cc222842;
$secondary-color-hover: #a41c2142;

$color-background: $primary-color;
$color-text: #fff;
$color-black: #444;
$color-muted: #999;
$color-gray: #444;

$color-sucess: #28a745;
$color-warning: #ffc107;